<section class="my_footer">

    <div class="footer_card_container">
        <div class="footer_card">
            <h2>SPARLEOM</h2>
            <p>The automated process starts as soon as your clothes go into the machine.</p>

            <div class="social_icon">

            </div>
        </div>

        <div class="footer_card">
            <h2>Subjects</h2>
            <div>
               <a href="">Design & creatives</a>
               <a href="">Telecommunication</a>
               <a href="">Restaurant</a>
               <a href="">Programing</a>
               <a href="">Architecture</a>
            </div>
        </div>

        <div class="footer_card">
            <h2>Community</h2>
            <div>
               <a href="">Design & creatives</a>
               <a href="">Telecommunication</a>
               <a href="">Restaurant</a>
               <a href="">Programing</a>
               <a href="">Architecture</a>
            </div>
        </div>

        <div class="footer_card">
            <h2>Company</h2>
            <div>
               <a href="">Design & creatives</a>
               <a href="">Telecommunication</a>
               <a href="">Restaurant</a>
               <a href="">Programing</a>
               <a href="">Architecture</a>
            </div>
        </div>

        <div class="footer_card">
            <h2>Newsletter</h2>
            <div>
               <p>Subscribe our newsletter to get updates.

               </p>
               <input type="text" placeholder="Enter Your email">
            
               <button>Subscribe</button>
            </div>
        </div>

        

    </div>

    <p class="copyright">Copyright ©2023 All rights reserved | This Website is made with ❤ by Prem kumar</p>
    

</section>