
<section class="login_body" >
    <div class="wrapper">
        <form action="#" (ngSubmit)="loginSubmit()" [formGroup]="loginForm">
          <h2>Login</h2>
            <div class="input-field">
            <input type="text" formControlName="user_email" required>
            <label>Enter your email</label>
          </div>
          <div class="input-field">
            <input type="password" formControlName="user_password" required>
            <label>Enter your password</label>
          </div>
          <div class="forget">
            <label for="remember">
              <input type="checkbox" id="remember">
              <p>Remember me</p>
            </label>
            <a href="#">Forgot password?</a>
          </div>
          <button type="submit">Log In</button>
          <div class="register">
            <p>Don't have an account? <a routerLink="/register">Register</a></p>
          </div>
        </form>
      </div>
</section>


