<section class="container">

    <h1 class="hero_section2_h1">{{main_heading}}</h1>
    <h5>{{second_heading}}</h5>

    <ul class="cards">
        <li class="card">
            <!-- <div>
                <img src="../../assets/courses1.jpg" alt="">
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="card-link-wrapper">
                <a href="" class="card-link">Learn More</a>
            </div> -->

            <div class="mycard">
                <img src="../../assets/courses1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                  </div>
                  <a href="#" class="btn btn-primary">Enroll Now</a>
                </div>
            </div>
        </li>
        <li class="card">

            <div class="mycard">
                <img src="../../assets/courses1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                  </div>
                  <a href="#" class="btn btn-primary">Enroll Now</a>
                </div>
            </div>
        </li>

        <li class="card">

            <div class="mycard">
                <img src="../../assets/courses1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                  </div>
                  <a href="#" class="btn btn-primary">Enroll Now</a>
                </div>
            </div>
        </li>
        <li class="card">

            <div class="mycard">
                <img src="../../assets/courses1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                  </div>
                  <a href="#" class="btn btn-primary">Enroll Now</a>
                </div>
            </div>
        </li>

        <li class="card">

            <div class="mycard">
                <img src="../../assets/courses1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                    <span>*</span>
                  </div>
                  <a href="#" class="btn btn-primary">Enroll Now</a>
                </div>
            </div>
        </li>
    </ul>
</section>
