
<section class="create_announce_body">
    <div class="wrapper">
        <form action="#">
          <h2>CREATE ANNOUONCEMENT</h2>
          <div class="input-field">
            <input type="text" required>
            <label>Enter Title</label>
          </div>
        <div class="input-field">
            <textarea name="" id="" placeholder="Enter Details"></textarea>
          
          </div>
          <button type="submit">Send</button>
          
        </form>
      </div>
  </section>
  
  
  
  
