<div class="all_courses_container">

    <h1>The world's largest selection of courses</h1>
    <h5>Choose from 130,000 online video courses with new additions published every month</h5>

    <div class="card_container">

        <div class="card mycard" *ngFor="let course of all_courses; let i = index" (click)="show_course_details(course.id)">
            <img src="../../assets/courses{{(i+1)%8}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{course.course_name}}</h5>
              <h6>Duraton: {{course.duration}}</h6>
              <h6>₨. {{course.course_price}}</h6>
           
              <div class="rating">
                <span class="star {{ course.rating >= 1 ? 'filled' : 'empty' }}">★</span>
                <span class="star {{ course.rating >= 2 ? 'filled' : 'empty' }}">★</span>
                <span class="star {{ course.rating >= 3 ? 'filled' : 'empty' }}">★</span>
                <span class="star {{ course.rating >= 4 ? 'filled' : 'empty' }}">★</span>
                <span class="star {{ course.rating >= 5 ? 'filled' : 'empty' }}">★</span>
                <span class="star_count">({{course.rating_count}})</span>
              </div>
              <br>
              
              <div class="edit_delete_div">
                <a (click)="edit_course(course.id)" *ngIf="isAdmin" class="btn btn-primary">Edit</a>
                <a (click)="delete_course(course.id)"   *ngIf="isAdmin"  class="btn btn-secondary">Delete</a>
                <a (click)="details_course(course.id)"   *ngIf="!isAdmin"  class="btn btn-primary">Details</a>
                <a (click)="buy_course(course.id)"   *ngIf="!isAdmin"  class="btn btn-secondary">Buy Now</a>
                
              </div>

            </div>
        </div>

       
    </div>
</div>