<div class="all_courses_container">

    <h1>The world's largest selection of courses</h1>
    <h5>Choose from 130,000 online video courses with new additions published every month</h5>

    <div class="card_container">
        <div class="card mycard">
            <img src="../../assets/courses1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mycard">
            <img src="../../assets/courses2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mycard">
            <img src="../../assets/courses3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mycard">
            <img src="../../assets/courses4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mycard">
            <img src="../../assets/courses5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mycard">
            <img src="../../assets/courses6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mycard">
            <img src="../../assets/courses7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


        <div class="card mycard">
            <img src="../../assets/courses8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

       

       
    </div>
</div>