
<section class="register_body">
    <div class="wrapper">

        <form (ngSubmit)="studentRegister()" [formGroup]="userData">
          <h2>Register</h2>
          <div class="input-field">
            <input type="text" formControlName="name" required>
            <label>Enter your Name</label>
          </div>
        
          <div class="input-field">
          <input type="date" formControlName="date_of_birth" required>
          <!-- <label>Enter your D.O.B</label> -->
        </div>
          <div class="input-field">
            <input type="text" formControlName="contact_number" required>
            <label>Enter Phone Number</label>
          </div>

       
          <div class="input-field">
            <select name="" id="gender"  formControlName="gender" required>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <button type="submit">Register</button>
          <div class="register">
            <p>Already have an account? <a routerLink="/login">Login</a></p>
          </div>
        </form>
      </div>
</section>



