<section class="student_dash_container">
    <div class="student_dashboard">
        <h1>Today's Schedule</h1>
        <div class="announcement_section">
            <h2>Announcement</h2>
            <!-- <div class="ann_item">
               <div>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, deleniti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, eum?.
                </p>
                <p>8/30/23 - 2:27 PM</p>
               </div>
               <div>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, deleniti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, eum?.
                </p>
                <p>8/30/23 - 2:27 PM</p>
               </div>
               <div>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, deleniti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, eum?.
                </p>
                <p>8/30/23 - 2:27 PM</p>
               </div>
               <div>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, deleniti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, eum?.
                </p>
                <p>8/30/23 - 2:27 PM</p>
               </div>
               
            </div> -->
        </div>
        <div class="lectures_section">
            <div class="lecture_item">
                <div class="item_left">
                    <div>
                        <h2>10:00 AM</h2>
                        <h3>Lecture</h3>
                    </div>
                    <div>
                        <h2>Scrum</h2>
                        <p>prem kumar starting this at 11:00 AM</p>
                        <div class="course_type_tag">
                            <span>coding</span>
                            <span>Live</span>
                        </div>
                    </div>
                </div>
                <div class="item_right">
                    <p>Details</p>
                </div>
            </div>

            <div class="lecture_item">
                <div class="item_left">
                    <div>
                        <h2>10:00 AM</h2>
                        <h3>Lecture</h3>
                    </div>
                    <div>
                        <h2>Scrum</h2>
                        <p>prem kumar starting this at 11:00 AM</p>
                        <div class="course_type_tag">
                            <span>coding</span>
                            <span>Live</span>
                        </div>
                    </div>
                </div>
                <div class="item_right">
                    <p>Details</p>
                </div>
            </div>

            <div class="lecture_item">
                <div class="item_left">
                    <div>
                        <h3>10:00 AM</h3>
                        <h3>Lecture</h3>
                    </div>
                    <div>
                        <h2>Scrum</h2>
                        <p>prem kumar starting this at 11:00 AM</p>
                        <div class="course_type_tag">
                            <span>coding</span>
                            <span>Live</span>
                        </div>
                    </div>
                </div>
                <div class="item_right">
                    <p>Details</p>
                </div>
            </div>

            <div class="lecture_item">
                <div class="item_left">
                    <div>
                        <h3>10:00 AM</h3>
                        <h3>Lecture</h3>
                    </div>
                    <div>
                        <h2>Scrum</h2>
                        <p>prem kumar starting this at 11:00 AM</p>
                        <div class="course_type_tag">
                            <span>coding</span>
                            <span>Live</span>
                        </div>
                    </div>
                </div>
                <div class="item_right">
                    <p>Details</p>
                </div>
            </div>
        </div>
    </div>
</section>