<section class="categories_container">
    <h1>Explore top categories</h1>

    <div class="card_container">
        <div class="category_card">
            <h2>Programming</h2>
            <a href="" class="">Courses</a>
        </div>
        <div class="category_card">
            <h2>VFX</h2>
            <a href="">Courses</a>
        </div>
        <div class="category_card">
            <h2>App Development</h2>
            <a href="">Courses</a>
        </div>
        <div class="category_card">
            <h2>Technology</h2>
            <a href="">Courses</a>
        </div>
        <div class="category_card">
            <h2>Graphics Design</h2>
            <a href="">Courses</a>
        </div>
        <div class="category_card">
            <h2>Music</h2>
            <a href="">Courses</a>
        </div>
        <div class="category_card">
            <h2>Product Design</h2>
            <a href="">Courses</a>
        </div>
        <div class="category_card">
            <h2>Video Editing</h2>
            <a href="">Courses</a>
        </div>

    </div>
</section>
