


<section class="add_course_body">
  <div class="wrapper">
      <form action="#">
        <h2>ADD COURSE</h2>
        <div class="add_course_form">
          <div>
            <div class="input-field">
              <input type="text" required>
              <label>Enter Course Name</label>
            </div>
              <div class="input-field">
              <input type="text" required>
              <label>Enter Course Duration</label>
            </div>
            <div class="input-field">
              <input type="password" required>
              <label>Enter your password</label>
            </div>
    
          </div>
         <div>
          <div class="input-field">
            <input type="text" required>
            <label>Dept id </label>
          </div>
          <div class="input-field">
            <input type="text" required>
            <label>Instructor id </label>
          </div>
          <div class="input-field">
           <input type="number" required>
           <label>Enter Default rating </label>
          </div>
          <div class="input-field check">
            <input type="checkbox" required>
            <label>is available</label>
          </div>
         </div>
        </div>
        <button type="submit">Save</button>
        
      </form>
    </div>
</section>



