<section class="hero3_section">

    <div class="hero3_container">
       
        <div class="hero3_left">

            <img src="https://images.pexels.com/photos/6084272/pexels-photo-6084272.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="hero3_right">

            <h1>Learn new skills online with top educators</h1>
            <h5>Learn 100% online with world-class universities and industry experts.</h5>
            <div class="hero3_search">
                <a class="card-link" routerLink="courses-all">Browse Course</a>
            </div>
        </div>
    </div>

</section>

