<div class="assign_head_container">
    <div class="head_container">
        <div>
           <div>
                <h2>GA201 Interview 3 - Round2</h2>
                <div>
                    <span>CODING</span>
                    <span>EVALUATION</span>
                </div>
           </div>
            <div>
                <h6>INSTRUCTOR NAME</h6>
                <h6>enter time</h6>
            </div>

        </div>
        <div>
            <a href="">PROGRESS</a>
        </div>
    </div>
</div>
