
<div class="admin_dash_container">
    <div>
        <h1 class="text-center text-lg font-semibold">Today's Schedule</h1>
        <select name="" class="admin_course_select" (change)="onSelectChange($event)">
            <option *ngFor="let item of option_courses" [value]="item.value">{{item.text}}</option>
           
            
        </select>
    </div>
   
    <div class="w-full rounded-lg shadow-md m-10">
        <table class="content-table border-collapse min-w-min text-lg w-full p-2">
           
            <thead class="text-left bg-cyan-200 p-2">
               <tr class="text-left p-2">
                <th class="p-2">Sno.</th>
                <th>Date</th>
                <th>Timing</th>
                <th>Topic</th>
                <th>Zoom meeting</th>
                <th>Edit</th>
                <td>Delete</td>
               </tr>
            </thead>
            <tbody>
                <tr class="text-left" *ngFor="let lecture of letures_data; let i = index">
                    <td class="p-2">{{i+1}}.</td>
                    <td>{{convertDate(lecture.timing)}}</td>
                    <td>{{convertDateInTime(lecture.timing)}}</td>
                    <td>{{lecture.topic_title}}</td>
                    <td>{{lecture.meeting_url}}</td>
                    <th (click)="updateLecture(lecture.id)">Edit</th>
                    <td  (click)="deleteLecture(lecture.id)">Delete</td>
                    
                </tr>
            
            </tbody>
           
            
        </table>
    </div>

</div>