
<div class="admin_dash_container">
    <div>
        <h1 class="text-center text-lg font-semibold">Today's Schedule</h1>
        <select name="" class="admin_course_select">
            <option value="">Select Course</option>
            <option value="">Java</option>
            <option value="">Node</option>
            <option value="">Mern</option>
            
        </select>
    </div>
   
    <div class="w-full rounded-lg shadow-md m-10">
        <table class="content-table border-collapse min-w-min text-lg w-full p-2">
           
            <thead class="text-left bg-cyan-200 p-2">
               <tr class="text-left p-2">
                <th class="p-2">Sno.</th>
                <th>Date</th>
                <th>Timing</th>
                <th>Topic</th>
                <th>Zoom meeting</th>
                <th>Edit</th>
                <td>Delete</td>
               </tr>
            </thead>
            <tbody>
                <tr class="text-left">
                    <td class="p-2">1.</td>
                    <td>dlgjdlsg</td>
                    <td>ldsgjlsdg</td>
                    <td>Medium</td>

                    <td>http://www.com</td>
                    <th>Edit</th>
                    <td>Delete</td>
                    
                </tr>
            
                <tr class="text-left">
                    <td class="p-2">1.</td>
                    <td>dlgjdlsg</td>
                    <td>ldsgjlsdg</td>
                    <td>Medium</td>
                    <td>http://www.com</td>
                    <th>Edit</th>
                    <td>Delete</td>
                    
                </tr>
            

                <tr class="text-left">
                    <td class="p-2">1.</td>
                    <td>dlgjdlsg</td>
                    <td>ldsgjlsdg</td>
                    <td>Medium</td>
                    <td>http://www.com</td>
                    <th>Edit</th>
                    <td>Delete</td>
                    
                </tr>
            
                <tr class="text-left">
                    <td class="p-2">1.</td>
                    <td>dlgjdlsg</td>
                    <td>ldsgjlsdg</td>
                    <td>Medium</td>
                    <td>http://www.com</td>
                    <th>Edit</th>
                    <td>Delete</td>
                    
                </tr>
            
            </tbody>
           
            
        </table>
    </div>

</div>