<div class="ticket_container">


    <div>
        <div class="new_ticket_container">
            <h2>Create Ticket</h2>
            <div>
                <form action="#">
                    <div class="input-box">
                      <input type="text" placeholder="Title">
                    </div>
                    <div class="input-box">
                     
                        <select name="" id="">
                            <option value="">LEAVE</option>
                            <option value="">LEAVE</option>
                            <option value="">LEAVE</option>
                            <option value="">LEAVE</option>
                            <option value="">LEAVE</option>
                        </select>
                    </div>
                    <div class="input-box message-box">
                      <textarea name="message-box" id="" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
                    </div>
                    <div class="ticket_button">
                      <input type="button" value="Send Now" >
                    </div>
                </form>
            </div>
        </div>

        <div class="previous_ticket_container">
            <div class="ticket_item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nostrum cum eveniet quos harum pariatur?</p>
                <h2>Resolved</h2>
            </div>
            <div class="ticket_item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nostrum cum eveniet quos harum pariatur?</p>
                <h2>Resolved</h2>
            </div>
            <div class="ticket_item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nostrum cum eveniet quos harum pariatur?</p>
                <h2>Resolved</h2>
            </div>
            <div class="ticket_item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nostrum cum eveniet quos harum pariatur?</p>
                <h2>Resolved</h2>
            </div>
        </div>


    </div>
</div>