<section class="hero_section">

    <div class="hero_container">
        <div class="hero_left">

            <h1>Learn new skills online with top educators</h1>
            <h5>Learn 100% online with world-class universities and industry experts.</h5>
            <div class="hero_search">
                <input type="search" placeholder="What do you want to learn? ">
                <a class="hero_search_icon" href=""></a>
            </div>
        </div>
        <div class="hero_right">

            <img src="https://images.pexels.com/photos/6281879/pexels-photo-6281879.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
    </div>

</section>
