
.instructor_register_body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    /* border: 3px solid green; */
  }
  
  .instructor_register_body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://www.codingnepalweb.com/demos/create-glassmorphism-login-form-html-css/hero-bg.jpg"), #000;
    background-position: center;
    background-size: cover;
  }
  
  .wrapper {
    width: 800px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
/* .form_header{
  color: #0A2647;
} */
  .register_form_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
    /* border: 1px solid green; */
  }
  
  .input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
  }

  .register_form_div>div:first-child .input-field:nth-child(4) label{

    right: -250px;
    /* border: 1px solid red; */
  }
  
  .input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    /* border: 1px solid red; */
  }
  
  .input-field input:focus~label,
  .input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
  }
  
  .forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #fff;
  }
  
  #remember {
    accent-color: #fff;
  }
  
  .forget label {
    display: flex;
    align-items: center;
  }
  
  .forget label p {
    margin-left: 8px;
  }
  
  .wrapper a {
    color: #efefef;
    text-decoration: none;
  }
  
  .wrapper a:hover {
    text-decoration: underline;
  }
  
  button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }
  
  button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
  }
  
  .register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }


@media screen and (max-width: 650px){
    
    .wrapper {
        width: 400px;
      
      }

      .instructor_register_body{
        height: max-content;
      }

     
      
    .register_form_div{
        grid-template-columns: 1fr;
 
    }
}



/*   =   =======================  all instructor  ============================= */



.all_Instructor_container{
    margin-bottom: 50px;
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all_Instructor_container h1,.all_Instructor_container h5{

    text-align: center;
    color: #0A2647;
    font-weight: 700;
}



.all_Instructor_container .card_container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.all_Instructor_container .card_container .mycard{
    width: 17rem;
    cursor: pointer;
}

.all_Instructor_container .card_container .mycard .card-body .edit_delete_div{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
     /* border: 1px solid red; */
}
.all_Instructor_container .card_container .mycard .card-body .edit_delete_div a{
   flex: 1;
   margin: 10px;
}

.rating {
    display: inline-block;
    font-size: 24px;
}

.star_count{
    font-size: 15px;
}
  
.star {
color: #ccc; /* Default star color (empty) */
padding: 2px;
}
  
.star.filled {
color: gold; /* Colored star */
}
  


@media screen and (max-width: 650px) {
    .all_Instructor_container .card_container{

        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
        
    }

    .all_Instructor_container .card_container .mycard{
        width: 95%;
        display: flex;
        flex-direction: row;
    }

    .all_Instructor_container .card_container .mycard img{
        width: 50%;
        height: auto;
    }

    .all_Instructor_container .card_container .mycard .card-body .edit_delete_div a{
        flex: 1;
        margin: 0px;
     }


}

@media (min-width:651px) and (max-width: 850px) {
   
    .all_Instructor_container .card_container{

        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }


}

@media (min-width:851px) and (max-width: 1100px) {
    .all_Instructor_container .card_container{

        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }


}