
<section class="login_body">
    <div class="wrapper">
        <form action="#">
          <h2>Creaate Lecture</h2>
          <div class="input-field">
            <input type="text" required>
            <label>Lecture title</label>
          </div>
            <div class="input-field">
            <input type="date" required>
            <!-- <label>Lecture Date</label> -->
          </div>
          <div class="input-field">
            <input type="datetime" required>
            <label>Lecture Timing</label>
          </div>
          <div class="input-field">
            <input type="url" required>
            <label>Lecture Meeting url</label>
          </div>

          <div class="input-field">
            <input type="file">
           
          </div>

         
          <button type="submit">Save</button>
          
        </form>
      </div>
</section>




