<header class="shadow-lg p-3 mb-5 bg-white rounded" [class.sticky]="navbarIsSticky" id="nav" >
    <div class="logo">
        <h2>SPARLEOM</h2>
    </div>
    <input type="checkbox" id="nav_check" hidden>
    <nav>
       
        <div class="logo">
            <h2>SPARLEOM</h2>
        </div>
        <ul>
            <li>
                <a href="" class="active">Home</a>
            </li>
           
            <li>
                <a href="">Courses</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <a href="">Login</a>
            </li>
            <li>
                <a href="">Profile</a>
            </li>
        </ul>
    </nav>
    <label for="nav_check" class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </label>
</header>