<section class="hero_section_instructor">

    <div class="hero_container_constructor">
        <div class="hero_left_instructor">

            <h1>Become an Instructor</h1>
            <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>


            <p>Techniques to engage effectively with vulnerable children and young people.</p>

            <p>Join millions of people from around the world learning together</p>


            <p>Join millions of people from around the world learning together.</p>
            <div class="hero_instructor_a">
               
                <a class="hero_instructor_button" routerLink="/instruc-register">Become a Instructor</a>
                <a href="" class="hero_instructor_video">Watch Video</a>
            </div>
        </div>
        <div class="hero_right_instructor">

            <img src="https://images.pexels.com/photos/5553938/pexels-photo-5553938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
    </div>

</section>

