<!-- <div class="student_container">
    <div class="slider">
        
    </div>
</div> -->

<section class="student_container">

    <div class="wrapper">
        <i class="fa-solid fa-arrow-left button" id="prev"></i>
        <div class="image-container">
          <div class="carousel">
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
          </div>
          <i class="fa-solid fa-arrow-right button" id="next"></i>
        </div>
    </div>
  
</section>
    
  
